@import "./../responsive/responesive";


.carouselSection{
    
    .navbar-toggler{
        background-color: #35a22c;
    }
    .carousel-indicators{
        margin-bottom: 5%;
        
        li{
            width: 1.3rem;
            height: 1.3rem;
            background-color: #fff;
            border-radius: 50%;
            border: 1px solid transparent;

            &.active{
                background-color: #35a22c;
            }
        }
    }
    
    .carousel-item{
        position: relative;

        // RESPONSIVE 576 - 767
        @include small{
            .carousel-caption.container{
                top: 55%;
                max-width: 54rem;
                h3{
                    font-size: 4.5rem;
                }
                p{
                    font-size: 2rem;
                }
            }
        }

        // RESPONSIVE Less than 576 (<=575)
        @include megasmall{
            .carousel-caption.container{
                
                top: 55%;
                max-width: 54rem;

                h3{
                    font-size: 3.8rem;
                }
                p{
                    font-size: 1.6rem;
                }
            }
        }
        .carousel__misty{
            background-color: rgba(0, 0, 0, 0.3);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
        }

        .carousel-caption{
            top: 50%;
            left: 50%;
            z-index: 0;
            transform: translate(-50%, -50%);
        }

        .thumbs{
            margin: auto;
            max-width: 14rem;
            img{
                border-radius: 50%;
            }
        }
        h3{
            font-size: 6.5rem;
            line-height: 65px;
        }
        p{
            font-size: 2.4rem;
        }
        // position: absolute;
        background-position: center;
        background-size: cover;
        height: 100vh;
        // opacity: .6;
    }
    .carousel-item:nth-of-type(1){
        background-image: url("../img/finland.jpg");
    }
    .carousel-item:nth-of-type(2){
        background-image: url("../img/mountains.jpg");
    }   
    .carousel-item:nth-of-type(3){
        background-image: url("../img/mountains-1.jpg");
    }
}

