
.footerSection{
    .itemContainer{
        position: relative;
        .footer__item{
            padding: 5rem 0;
            a{
                margin: 0 .5rem;
                
                i{
                    font-size: 2rem;
                    width: 4.2rem;
                    height: 4.2rem;
                    border: 1px solid #a09f9f;
                    border-radius: 50%;
                    line-height: 4.2rem;
                    color: #a09f9f;
                    transition: all .3s ease;
                    &:hover{
                        border: 1px solid #35a22c;
                        color: #35a22c;
                    }
                }
            }
        }
        &::after{
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            background: #a09f9f;
            bottom: 0;
            left: 0;
        }
    }

    .contentContainer{
        font-size: 1.5rem;
        padding: 3rem 0 5rem 0;
        color: #a09f9f;
    }
}